# Shell scripts and configs are executed on Linux: always LF
* text=auto eol=lf
*.png binary
*.gif binary
*.jpg binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.rpm binary
*.zip binary
*.gz binary
