[Unit]
Description=KloxoNext panel web server (nginx)
Documentation=https://github.com/KloxoNGCommunity/kloxo
After=network.target remote-fs.target nss-lookup.target kloxo-php.service
Wants=kloxo-php.service kloxo-apps.service

[Service]
Type=forking
PIDFile=/usr/local/lxlabs/kloxo/init/kloxo-nginx.pid
ExecStartPre=/usr/bin/lxphp.exe -f /usr/local/lxlabs/kloxo/init/changeport.php
ExecStartPre=/usr/sbin/nginx -t -q -c /usr/local/lxlabs/kloxo/init/kloxo-nginx.conf
ExecStart=/usr/sbin/nginx -c /usr/local/lxlabs/kloxo/init/kloxo-nginx.conf
ExecReload=/usr/sbin/nginx -s reload -c /usr/local/lxlabs/kloxo/init/kloxo-nginx.conf
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=multi-user.target
